.app-container {
  position: absolute; /* must be here for height 100% to work */
  height: 100%;
  width: 100%;
}
.menu-panel {
  position: absolute;
  top: 15px;
  left: 150px;
  background-color: white;
  padding: 10px;
}
.menu {
   padding-left: 5px;
   padding-right: 5px;
}
.panels {
  height: 100%;
  width: 100%;
  position: absolute;
}
.home {
  background-color: lightblue;
  height: 100%;
}
.about {
  background-color: lightgreen;
  height: 100%;
}
.home H2, .about H2 {
  padding-top: 100px;
  padding-left: 100px;
  margin: 0;
}